<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Login</title>
</head>
<body>
    <input id="email" type="text" placeholder="email"> <br> <br>
    <input id="nameInput" type="text" placeholder="name"> <br> <br>
    <button id="emailBtn">Send Details</button>

    <script>
        let emailBtn = document.getElementById('emailBtn');
        let emailInput = document.getElementById('email');
        let nameInput = document.getElementById('nameInput');
        
        emailBtn.onclick = async()=>{
            let user = {
                email : emailInput.value,
                name : nameInput.value
            }

            let res = await axios.post('/storeEmail', user);
            console.log(res.data.msg);
        }

    </script>    
</body>
</html>